{% extends 'base.html.twig' %}
{% block title %} Informace o focení | {{ parent() }}{% endblock %}
{% block body %}
<div class="photography-info-page">
<h1>{{ title }}</h1>
</div>
</section>
    
{% endblock %}