{% extends 'base.html.twig' %}
{% block body%}
<div class="homepage">
    <section class="hero-section">
      <div class="tile-images-container">
        <div class="img1"></div>
        <div class="img2"></div>
      </div>
    <button class="btn btn-primary">Velice zajímavé tlačítečko</button>
    </section>
</div>

{% endblock %}