@import '~/assets/styles/helper/variables.scss';
// ---------- HERO SECTION --------- //
.hero-section{
    background-color: $second_color;
}
.tile-images-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tile-images-container .img1, .tile-images-container .img2{
    width: 100%;
    height: 100dvh; 
    object-fit: cover;
}
.img1, .img2{
    flex: 0.5;
    background-image: url("../../public/images/homepageImages/uvodni_foto_mensi.jpg");
    background-size: cover;
    background-position: center;
}
.img2{
    flex: 1;
    background-image: url("../../public/images/homepageImages/uvodni_foto_vetsi.jpeg");
    background-size: cover;
    background-position: center;
}

.contact-link-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10%;
}
.contact-link-homepage{
    text-decoration: none;
    font-size: 30px;
    text-align: right;
    color: #333;
}
.home-page-about-me-link{
    text-align: right;
}