{% extends 'base.html.twig' %}
{% block body%}
<div class="homepage">
    <section class="hero-section">
      <div class="container-fluid">
        <div class="row hero-row">
            <div class="col col-sm-4">
                <div class="img-fluide hero-img-1"></div>
            </div>
            <div class="col">
                <div class="img-fluide hero-img-2"></div>
            </div>
        </div>
      </div>
    </section>
</div>

{% endblock %}