@import '~/assets/styles/helper/variables.scss';
// ---------- HERO SECTION --------- //
.hero-section{
    background-color: $second_color;
    .hero-row {
        gap: 5px;
        .col {
            padding: 0;
        }
        .img-fluide.hero-img-1, .img-fluide.hero-img-2 {
            object-fit: cover;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100dvh;
        }
        .img-fluide.hero-img-1{
            background-image: url("../../public/images/homepageImages/uvodni_foto_mensi.jpg");
        }
        .img-fluide.hero-img-2{
            background-image: url("../../public/images/homepageImages/uvodni_foto_vetsi.jpeg");
        }
    }
    @media only screen and (max-width: 1006px) {
        .img-fluide.hero-img-1, .img-fluide.hero-img-2 {
            height: 50vw ;
        } 
    }
}

.contact-link-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10%;
}
.contact-link-homepage{
    text-decoration: none;
    font-size: 30px;
    text-align: right;
    color: #333;
}
.home-page-about-me-link{
    text-align: right;
}