<div class="swiper portfolio-slider">
    {% use "Components/slider.html.twig" %}
    {% block slideContent %} {{ parent() }} {% endblock %}
    {% block slidePagination %} {{ parent() }} {% endblock %}
    {% block slideNavigation %} {{ parent() }} {% endblock %}
</div>