{% extends 'base.html.twig' %}
{% block title %} Novinky | {{ parent() }}{% endblock %}
{% block body %}
<section class="special-offer-page">
<h1>{{ title }}</h1>
</div>
</section>
    
{% endblock %}