{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_from_query_params = app.request.query.get('currentRoute') %}

{% set active_route = null %}
{% if current_route == 'homepage' or current_route_from_query_params == 'homepage' %}
    {% set active_route = 'homepage' %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hanna Web{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% include 'header.html.twig' %}
    
    <body>
        <div class="content {% if active_route == 'homepage' %}without-nav-margin{% endif %}">
            {% block body %}{% endblock %}
        </div>
    </body>
    {% include 'footer.html.twig' %}
</html>
